#about-navbar{
  position: fixed;
  top: 30px;
  right: 30px;
  color: white;
}
#about {
  background-color: black;
}
#hover {
    display: none;
    position: relative;
    top: -500px;
    right: -400px;
    transition: all .25s linear;
}
.fullscreen:hover {
  opacity: .75;
  transition: all .25s linear;
}

#gallery1 {
  position: absolute;
  top: 150px;
  right: 0px;
  left: 0px;
}
#slide-show-intro {
  position: relative;
  top: 140px;
}