#about-navbar{
  position: fixed;
  top: 30px;
  right: 30px;
  color: white;
}
.jumbotron {
  background-color: rgba(0,0,0,0.2);
  max-width: 100%;
  max-height: 100%;
}
p {
  font-size: 30px;
  font-size: 3.5vw;
}
#blue-box {
  height: 100px;
  width: 100px;
  background: blue;
  transition: all 1s linear;
  position: relative;
}
#blue-box.greenify {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: green;
  position: relative;
}
label {
  display: inline-block;
  width: 130px;
}
input[type="text"] {
  width: 350px;
  height: 30px;
  line-height: 27px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 0 5px;
  margin: 5px 0;
  color: black;
}
#theForm{
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  padding-left: 70px;
  text-align: left;
}
input[type="submit"] {
  background-color: #08c;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  font-size: 1em;
}
.infoErr {
  background-color: red;
}

#transition-navbar {
  position: fixed;
  top: 30px;
  right: 100px;
  color: white;
}
.transistion-header{
  position: relative;
  top: 100px;
}
.mybtn {
  color:black;
}
#box {
  position: relative;
  top: 120px;
  min-width: 30px;
  min-height: 30px;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}
section{
 padding-bottom: 100px;
 }
#gmaps {
  position: relative;
/*  right: -500px;
  bottom: 100px;*/
  align-self: center;
  max-width: 100%;
  max-height: 100%;
  color: black;
}
#about {
  max-width: 100%;
  max-height: 100%;
}
.longestWord {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
#hover {
  display: none;
  position: relative;
  top: -500px;
  right: -400px;
  transition: all .25s linear;
}
.fullscreen:hover {
  opacity: .75;
  transition: all .25s linear;
}
#gallery1 {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  padding-top: 100px;
  display: inline-block;
}
#slide-show-intro {
  position: relative;
  top: 140px;
}
