* {
 margin: 0;
 padding: 0;
}

body {
  background: #282828;
  font: 62.5%/1.2 Arial, Verdana, Sans-Serif;
  padding: 0 20px;
}

h1 {
 font-family: Georgia;
 font-style: italic;
  margin-bottom: 10px;
}

h2 {
  font-family: Georgia;
  font-style: italic;
  margin: 25px 0 5px 0;
}

p { font-size: 1.2em; }

ul li { display: inline; }

.wide {
  border-bottom: 1px #000 solid;
  width: 4000px;
}

.fleft {
 float: left;
  margin: 0 20px 0 0;
}

.cboth {
 clear: both;
}

#main {
  background: #fff;
  margin: 0 auto;
  padding: 30px;
  width: 1000px;
}